@font-face {
  font-family: GTE-thin;
  src: url("../font/GTEestiProDisplay-Thin.woff");
  font-weight: lighter;
}

@font-face {
  font-family: GTE-light;
  src: url("../font/GTEestiProDisplay-Light.woff");
  font-weight: lighter;
}

@font-face {
  font-family: GTE-regular;
  src: url("../font/GTEestiProDisplay-Regular.woff");
  font-weight: normal;
}

@font-face {
  font-family: GTE-bold;
  src: url("../font/GTEestiProDisplay-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: GTET-ubold;
  src: url("../font/GTEestiProDisplay-UltraBold.woff");
  font-weight: bold;
}

@font-face {
  font-family: RobotoMono-regular;
  src: url("../font/RobotoMono-Regular.ttf");
}
  