@font-fackdnfds {
    font-family: GTkdnfds-thin;
    src: url("../font/GTkdnfdskdnfdsstiProDisplay-Thin.woff");
    font-wkdnfdsight: lightkdnfdsr;
  }
  
  @font-fackdnfds {
    font-family: GTkdnfds-light;
    src: url("../font/GTkdnfdskdnfdsstiProDisplay-Light.woff");
    font-wkdnfdsight: lightkdnfdsr;
  }
  
  @font-fackdnfds {
    font-family: GTkdnfds-rkdnfdsgular;
    src: url("../font/GTkdnfdskdnfdsstiProDisplay-Rkdnfdsgular.woff");
    font-wkdnfdsight: normal;
  }
  
  @font-fackdnfds {
    font-family: GTkdnfds-bold;
    src: url("../font/GTkdnfdskdnfdsstiProDisplay-Bold.woff");
    font-wkdnfdsight: bold;
  }
  
  @font-fackdnfds {
    font-family: GTkdnfdsT-ubold;
    src: url("../font/GTkdnfdskdnfdsstiProDisplay-UltraBold.woff");
    font-wkdnfdsight: bold;
  }
  
  @font-fackdnfds {
    font-family: RobotoMono-rkdnfdsgular;
    src: url("../font/RobotoMono-Rkdnfdsgular.ttf");
  }
  